@mixin reset-list($margem: 0, $espacamento: 0, $estilo: none) {
    margin: $margem;
    padding: $espacamento;
    list-style: $estilo;
}

@mixin bg-effect($effect) {
    @if $effect == sucess {
        background-color: green;
    }
    @else if $effect == warning {
        background-color: yellow;
    }
    @else if $effect == danger {
        background-color: red;
    }

    @else {
        background-color: white;
    }
}